body {
    font: 400 100%/1.5 Helvetica, Arial, sans-serif;
    margin: 1rem;
}
h1 {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 1rem;
}
h2 {
    font-weight: bold;
    font-size: 1.4rem;
}

#search-box {
    margin-left: 2rem;
}
#root{
    background-color: blue;
    /* just trying for visible output */
}
head {
    color:red;
}